*.gz
*.pkl
*.pkl.gz
data
*.log
CodesFromAlperHoca
Debug*
*Debug
*Debug*
debugfiles
Results
*Results
*sh
*.out
Regression
NotebookExperimentsNotStructured
CorInfoMaxNudge_Experiments
CorInfoMax_Experiments
Under_Analysis_Experiments
.ipynb_checkpoints